@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@200..700&display=swap');

@import './base.css';
@import "tailwindcss";


:root {
  --color-accent: #BB9BFF;
}

.primary-font {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "Cascadia Code", sans-serif;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 3px;
}

.my-toast {
  padding: 10px !important;
  background-color: var(--color-background-mute) !important;
  min-width: 120px !important;
  margin-bottom: 0 !important;
}

.my-toast-body {
  display: flex !important;
  align-items: center !important;
}

@media (hover: hover) {
  a:hover {
    background-color: #bb9bff46;
  }
}

@media (min-width: 1024px) {

  #app {
    padding: 0 2rem;
  }
}
